.set{
  color: #000000;
  max-width: auto;
  font-weight: 700; 
  margin: 5px;
  border-radius: 20px;
  background-color: cadetblue;
    }

    .set img {
      margin: 10px; 
      width: 25%;
       opacity: 0.7
   }