.feedback{
    color: #000000;
    max-width: auto;
    font-size: 20px;
    font-weight: 200;
    padding: 50px;
    background-color: darkcyan;
    margin: 5px;
   
   }
   .feede {

    text-align: center;
   }

   .tut{
    text-align: center;
   }


  