.train{
    color: #000000;
    max-width: auto;
    /*font-size: 10px;*/
    font-weight: 700;
    /*padding: 50px;
    background-color: aqua;*/
    margin: 5px;
    border-radius: 20px;
}

.train img {
    width: 50%;
   opacity: 0.7
 }