.head{
    color: #000000;
    max-width: auto;
    /*font-size: 10px;*/
    font-weight: 700;
    /*padding: 50px;
    background-color: aqua;*/
    margin: 5px;
    border-radius: 20px;
   }

  .button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: gray;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    cursor: default;

} 
button:hover{
   background: -webkit-gradient(linear, 0 0, 0 100%, from(#4af264), to(#4af264), color-stop(0.5, #39ba4d));
 }

 .head img {
    width: 50%;
   opacity: 0.7
 }
 .text{

    padding: 10px;


 }

 