.head{
   text-align: center; 
   flex-direction: row;
   color: #000000;
    max-width: auto;
    font-weight: 700;
    margin: 5px;
  }

button:hover{
   background: -webkit-gradient(linear, 0 0, 0 100%, from(#4af264), to(#4af264), color-stop(0.5, #baad39));
   
  }

 .head img {
   margin: 10px; 
   width: 25%;
   opacity: 0.7;
   justify-content: center;    
 }
 .text{
    padding: 10px;
 }

 