.train{  
  color: #000000;
  max-width: auto;
  font-weight: 700;
  margin: 5px;
  background-color: dimgrey;
  border-radius: 10px;
  

}

    .train img {
      margin: 10px; 
      width: 30%;
       opacity: 0.7
   }