.train{  
  text-align: center;
  background-color: dimgrey;
  flex-direction: row;
  color: #000000;
  max-width: auto;
  font-weight: 700;
}

.train img {
   margin: 10px; 
   width: 25%;
   opacity: 0.7;
   justify-content: center;
   
}