.brushes{
  color: #000000;
  max-width: auto;
  font-weight: 700; 
  margin: 5px;
  background-color: gray;
  text-align: center;
    }

    .brushes img {
      margin: 10px; 
      width: 25%;
       opacity: 0.7
   }